[Unit]
Description=SDDM change WallPaper
ConditionUser=!root

[Service]
Type=oneshot
ExecStart=/usr/share/sddm/wallpaper/change-wallpaper.sh

[Install]
WantedBy=default.target
